*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: lightgray;
}

body{
    width: 1024px;
    margin: 0px auto;
}

header div h1{
    background-color: white;
    height: 60px;
    background-image: url("img/logo\ copia.png");
    background-repeat: no-repeat;
    

}
h1{
    padding-top: 10px;
    padding-left: 60px;
    font-size: 36px;
}
main div button{
    
    font-size: medium;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    background-color: blue;

}
main div button:nth-child(2){
    background-color: rgb(255, 255, 255);
    color: blue;
}
.containerb{
    padding-left: 100px;
    padding-right: 100px;
    margin: 60px auto auto auto;
    background-color: white;
    height: 50px;
    width: 720px;
    border-spacing: 1px;
}

.containermain{

}
