*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: lightgray;
}

body{
    width: 1024px;
    margin: 0px auto;
}

header div h1{
    background-color: white;
    height: 60px;
    background-image: url("img/logo\ copia.png");
    background-repeat: no-repeat;
    border-radius: 5px;
    

}
h1{
    padding-top: 10px;
    padding-left: 60px;
    font-size: 36px;
}
main div button{
    
    font-size: medium;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    background-color: blue;
    border-radius: 5px;

}
main div button:nth-child(2){
    background-color: rgb(255, 255, 255);
    color: blue;
}
.containerb{
    padding-left: 100px;
    padding-right: 100px;
    margin: 60px auto auto auto;
    background-color: white;
    height: 50px;
    width: 720px;
    border-spacing: 1px;
    border-radius: 5px;
}


.containermain{
    padding-left: 100px;
    padding-right: 100px;
    margin: 1px auto auto auto;
    background-color: white;
    height: 440px;
    width: 720px;
    border-spacing: 1px;
    border-radius: 5px;

}
h3, p{
    background-color: white;
    padding-top: 10px;
}
p{
    padding-left: 8px;
    
}
.menu{
    padding-top 100px;
}
.editorial{
    color: white;
    background-color: lightblue;
    font-size: small;
    border-color: unset;
    shape-margin: 1px;
    border-radius: 7px;
    border: none;
    
}
.q1{
    color: white;
    background-color: rgb(195, 75, 219);
    font-size: small;
    border-color: unset;
    shape-margin: 1px;
    border-radius: 7px;
    border: none;
}
.recruiting{
    color: white;
    background-color: rgb(84, 243, 182);
    font-size: small;
    border-color: unset;
    shape-margin: 1px;
    border-radius: 7px;
    border: none;
}
.mobile{
    color: white;
    background-color: orange;
    font-size: small;
    border-color: unset;
    shape-margin: 1px;
    border-radius: 7px;
    border: none;
}
.website{
    color: white;
    background-color: lightpink;
    font-size: small;
    border-color: unset;
    shape-margin: 1px;
    border-radius: 7px;
    border: none;
}
.sales{
    color: white;
    background-color: lightgreen;
    font-size: small;
    border-color: unset;
    shape-margin: 1px;
    border-radius: 7px;
    border: none;
}
button{
    display: inline-block;
}
.menu{
    background-color: white;
}
span{
    background-color: white;
}

